body{
    font-family: 'Happy Monkey', cursive;
    text-align:center;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
}

/* same as
    display: flex;
    flex-direction: column;
    align-items: center;
assigning this as an utitity class or a span to the required elements.
.cta-pink-banner{
    background-color: #EFB0C9;
    padding: 1px;
}
*/

h1, h2, h3, h4, p{
    text-shadow: 0 0 1px black;
}



.img-cframe{
    width: 150px;
    height: 150px;
    border: 5px solid #EFB0C9;
    border-radius: 60%;
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bday-age{
    background-color: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px 0 10px 0;
}

#bday-date{
    background-color: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 0px;
}

.gift-section{
    margin-top: 50px;
}

.h2-gift{
    margin-bottom: 10px;
}

.h3-gift{
    margin-top: 0px;
}

.gift-img{
    width: 400px;
    height: 400px;
    border: 5px solid white;
    border-radius: 10px;
    margin: 0 auto; 
    background-image: url("gift-cover.jpg");
    background-size: cover;
}


#happy-img:hover{
    background-image: url("happy.gif");
}

#hot-img:hover{
    background-image: url("hot.gif");
}

#badass-img:hover{
    background-image: url("badass.gif");
}

#genius-img:hover{
    background-image: url("genius.gif");
}

#cheers-img{
    height: 200px;
}
#cheers-img:hover{
    background-image: url("cheers.gif");
}

.footer{
    font-style: italic;
    margin: 50px auto 40px auto;
}

a{
    color:#ffffff;
}